
# Created by https://www.gitignore.io/api/vuejs
# Edit at https://www.gitignore.io/?templates=vuejs

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
我的exe项目-win32-x64/
npm-debug.log
yarn-error.log

# End of https://www.gitignore.io/api/vuejs